/* Hero section */
.hero-section {
  padding: 0 0 156px 0;
}
.hero-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section-text {
  max-width: 500px;
}
.hero-section-text h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 73.98px;
  letter-spacing: 0%;
  color: #211f54;
}
.hero-section-text p {
  padding-top: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30.01px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6e7191;
}
.hero-section-buttons {
  display: flex;
  align-items: center;
}
.hero-section-buttons button {
  cursor: pointer;
  padding: 17px 24px 19px 24px;
  border-radius: 14px;
  border: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #0077ff;
  color: #ffffff;
}
.hero-section-buttons button:hover {
  background-color: #5191da;
}
.hero-section-phone {
  display: flex;
}
.hero-section-phone-icon {
  padding-top: 10px;
}
.hero-section-phone-text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.6px;
  vertical-align: middle;
  color: #6e7191;
}
.hero-section-phone-text h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36.01px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #211f54;
}
.hero-section-img img {
  width: 100%;
}

/* About section */
.about-section {
  padding: 0px 0 155px 0;
}
.about-section h2 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.98px;
  letter-spacing: 0%;
  text-align: center;
  color: #211f54;
}
.about-section p {
  padding-top: 21px;
  margin: 0 auto;
  max-width: 648px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  text-align: center;
  color: #6e7191;
}
.about-cards {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-card {
  max-width: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-card img {
  display: flex;
  align-self: center;
  width: 240px;
  height: 240px;
}
.about-card h3 {
  padding-top: 39px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 36.01px;
  letter-spacing: 0%;
  text-align: center;
  color: #211f54;
}
.about-card p {
  padding-top: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  text-align: center;
  color: #6e7191;
}

.about-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
.about-buttons button:nth-child(1) {
  border: none;
  cursor: pointer;
  padding: 26px 38px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #0075ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.about-buttons button:nth-child(2) {
  border: none;
  cursor: pointer;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px 0px #14142b0a;
  padding: 26px 38px;
  background-color: #efefef;
  border-radius: 20px;
  color: #211f54;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.about-buttons button:hover {
  background-color: #005bb5;
  color: #ffffff;
}
/* Services section */

.services-section {
  padding: 29px 0 147px 0;
}
.services-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.services-section-header h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.98px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #211f54;
}
.services-section-header button {
  border: none;
  cursor: pointer;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px 0px #14142b0a;
  padding: 26px 38px;
  background-color: #efefef;
  border-radius: 20px;
  color: #211f54;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.services-section-header button:hover {
  background-color: #dcdcdc;
}
.services-section-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
}
.services-section-card {
  max-width: 388px;
  height: 494px;
  padding: 38px 38px 29px 38px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px 0px #14142b0a;
}
.services-section-card h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 34.01px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #211f54;
}
.services-section-card p {
  font-family: Roboto;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #6e7191;
}
/* Follow section */
.follow-section {
  padding: 10px 0 156px 0;
}
.follow-section-card {
  background-color: #211f54;
  border: 1px solid #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.follow-section-card-text {
  padding: 20px;
  max-width: 556px;
  margin-right: 74px;
}
.follow-section-card-text h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #ffffff;
}
.follow-section-card-text h2 {
  padding-top: 17px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.98px;
  letter-spacing: 0%;
  color: #ffffff;
}
.follow-section-card-text p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #ffffff;
}
.follow-section-card-buttons {
  display: flex;
  align-items: center;
}
.follow-section-card-buttons button {
  border: none;
  cursor: pointer;
  padding: 26px 38px;
  border-radius: 20px;
  background-color: #0075ff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;
}
.follow-section-card-buttons button:hover {
  background-color: #5191da;
}

.follow-section-card-phone {
  display: flex;
  align-items: center;
  gap: 16px;
}
.follow-section-card-phone img {
  padding-top: 15px;
}
.follow-section-card-phone span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  line-height: 36.01px;
  letter-spacing: 0%;
  color: #ffffff;
}
.follow-section-card-phone p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #ffffff;
}
/* Article section */
.article-section {
  padding: 147px 0 350px 0;
}
.article-section-top {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.article-section-top h2 {
  font-weight: 700;
  font-size: 31.38px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}
.article-section-top button:nth-child(1) {
  border: none;
  cursor: pointer;
  padding: 26px 38px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #0075ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.article-section-top button:nth-child(2) {
  border: none;
  cursor: pointer;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px 0px #14142b0a;
  padding: 26px 38px;
  background-color: #efefef;
  border-radius: 20px;
  color: #211f54;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.article-section-top button:hover {
  background-color: #005bb5;
  color: #ffffff;
}
.article-section-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.article-section-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 90px;
}
.article-section-card-1 {
  width: 596px;
  width: 100%;
  height: 367px;
  background: url("../assets/cleaner-electronic.png");
  background-size: cover;
  object-fit: cover;
}
.article-section-card-2 {
  width: 596px;
  height: 367px;
  width: 100%;
  background: url("../assets/cleaner-disenfect.png");
  background-size: cover;
  object-fit: cover;
}
.article-section-card-text {
  border-radius: 24px;
  padding: 52px;
  margin: 306px auto;
  max-width: 536px;
  background-color: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px 0px #14142b0a;
}
.article-section-card-text h3 {
  font-weight: 700;
  font-size: 23.25px;
  line-height: 34.01px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #211f54;
}
.article-section-card-text p {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 30.01px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6e7191;
}
.article-section-card-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-section-card-text data {
  font-weight: 700;
  font-size: 16.59px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #211f54;
}
.article-section-card-img {
  width: 50px;
  height: 50px;
  background-color: #0075ff;
}

/* Contact section */
.contact-section {
  background-color: #f7f9fc;
  padding: 131px 0 111px 0;
}
.contact-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.contact-section-text {
  max-width: 487px;
  height: 846px;
}
.contact-section-text h2 {
  padding-top: 34px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.98px;
  letter-spacing: 0%;
  color: #211f54;
}
.contact-section-text p {
  padding-top: 32px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #6e7191;
}
.contact-section-text h3 {
  padding-top: 55px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36.01px;
  letter-spacing: 0%;
  color: #211f54;
}
.contact-section-text h5 {
  padding-top: 9px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #6e7191;
}
.contact-section-text button {
  margin-top: 30px;
  padding: 26px 38px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  color: #211f54;
  border: none;
  border-radius: 14px;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px 0px #14142b0a;
}
.contact-section-text button:hover {
  background-color: #211f54;
  color: #eff0f6;
}
.contact-section-card-phone {
  padding-top: 32px;
  padding-bottom: 30px;
  display: flex;
  gap: 16px;
}
.contact-section-card-phone img {
  padding-top: 15px;
}
.contact-section-card-phone span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  line-height: 36.01px;
  letter-spacing: 0%;
  color: #211f54;
}
.contact-section-card-phone p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #6e7191;
}
.contact-section-form {
  padding: 84px 61px 85px 61px;
  max-width: 693px;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px 0px #14142b0a;
}
.contact-section-form form {
  width: 100%;
}
.form-groups {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #211f54;
}
.form-group input {
  padding-left: 10px;
  font-size: 20px;
  height: 72px;
  outline: none;
  border-radius: 16px;
  color: #211f54;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 12px 0px #14142b14;
}
.form-textarea {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.form-textarea label {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #211f54;
}
.form-textarea textarea {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px;
  resize: none;
  outline: none;
  border-radius: 22px;
  color: #211f54;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 7px 0px #14142b14;
  height: 144px;
}
form button {
  margin-top: 32px;
  padding: 26px 38px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #0075ff;
  border: none;
  border-radius: 14px;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px 0px #14142b0a;
}
form button:hover {
  color: #0075ff;
  background-color: #ffffff;
}
/* Responsive styles */
@media (max-width: 1157px) {
  .follow-section-card {
    flex-direction: column;
  }
}
@media (max-width: 1070px) {
  .contact-section-content {
    flex-direction: column;
  }
  .contact-section-text {
    max-width: 487px;
    height: 746px;
  }
}
@media (max-width: 900px) {
  .hero-section-content {
    flex-direction: column;
  }
  .services-section-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 835px) {
  .about-cards {
    flex-wrap: wrap;
  }
  .article-section-card-text {
    padding: 20px;
  }
  .article-section-top {
    flex-direction: column;
  }
}
@media (max-width: 734px) {
  .contact-section-form {
    padding: 20px;
  }
}
@media (max-width: 665px) {
  .follow-section-card-text {
    padding: 20px;
    max-width: 556px;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .form-groups {
    margin-top: 10px;
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .follow-section-card-buttons {
    padding-top: 20px;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .article-section-cards {
    flex-direction: column;
    gap: 320px;
  }
}
@media (max-width: 565px) {
  .services-section-header {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .follow-section-card-img img {
    width: 100%;
  }
}
@media (max-width: 495px) {
  .about-buttons {
    flex-direction: column;
  }
  .article-section-buttons {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .follow-section-card-text h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 38px;
    line-height: 57.98px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
  }
  .follow-section-card-text p {
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 30.01px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
  }
}
@media (max-width: 469px) {
  .hero-section-buttons {
    margin-top: 30px;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .hero-section-text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 73.98px;
    letter-spacing: 0%;
    color: #211f54;
  }
}
@media (max-width: 380px) {
  .services-section-card {
    max-width: 388px;
    padding: 38px 15px 29px 15px;
  }
}

@media (max-width: 360px) {
  .follow-section-card-phone {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .article-section-top h2 {
    font-weight: 700;
    font-size: 25.38px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
  }
  .article-section-top button {
    cursor: pointer;
    padding: 15px;
    border: 2px solid #000000;
    background-color: #efefef;
    border-radius: 20px;
    color: #000000;
  }
}
