.header {
  padding: 38px 0 38px 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-menu-link {
  text-decoration: none;
  color: #211f54;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.01px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.nav-menu-link:hover {
  color: #0077ff;
}
.nav-menu-btn {
  cursor: pointer;
  padding: 17px 24px 19px 24px;
  border-radius: 14px;
  border: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #0077ff;
  color: #ffffff;
}
.nav-menu-btn:hover {
  background-color: #005bb5;
  color: #ffffff;
}
.nav-menu-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-menu-btn-count {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #211f54;
}
@media (max-width: 894px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 605px) {
  .nav-content {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
